.syntaxhl .gv { color: #aa0000 }
.syntaxhl .en { color: #800000; font-weight: bold }
.syntaxhl .co { color: #0000aa }
.syntaxhl .cl { color: #00aa00; text-decoration: underline }
.syntaxhl .dl { color: #aa5500 }
.syntaxhl .ins { color: #00aa00 }
.syntaxhl .ch { color: #aa5500 }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #aa5500 }
.syntaxhl .er { color: #F00000; background-color: #F0A0A0 }
.syntaxhl .ps { color: #0000aa }
.syntaxhl .ty { color: #00aaaa }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #009999 }
.syntaxhl .pc { color: #00aaaa }
.syntaxhl .sh { color: #aa5500 }
.syntaxhl .pd { color: #00aaaa }
.syntaxhl .kw { color: #0000aa }
.syntaxhl .ta { color: #1e90ff; font-weight: bold }
.syntaxhl .hx { color: #009999 }
.syntaxhl .fu { color: #00aa00 }
.syntaxhl .de { color: #888888 }
.syntaxhl .sy { color: #0000aa }
.syntaxhl .an { color: #1e90ff }
.syntaxhl .fl { color: #009999 }
.syntaxhl .ds { color: #aa5500 }
.syntaxhl .c { color: #aaaaaa; font-style: italic }
.syntaxhl .e { color: #aa5500 }
.syntaxhl .i { color: #009999 }
.syntaxhl .of { color: #0000aa }
.syntaxhl .k { color: #aa5500 }
.syntaxhl .oc { color: #009999 }
.syntaxhl .s { color: #aa5500 }
.syntaxhl .r { color: #0000aa }
.syntaxhl .del { color: #aa0000 }
.syntaxhl .iv { color: #aa0000 }
.syntaxhl .v { color: #aa0000 }
