bp 	pc
c 	c
cm 	c
err 	er
gd 	del
gi 	ins
gs 	('af', 'aw')
il 	i
k 	kw
kc 	co
kd 	kw
kn 	kw
kp 	ps
kr 	r
kt 	ty
m 	i
mf 	fl
mh 	hx
mi 	i
mo 	oc
na 	an
nb 	pd
nc 	cl
nd 	de
nf 	fu
ni 	en
no 	co
nt 	ta
nv 	v
ow 	of
s 	('s', 'xt')
s1 	('s', 'xt')
s2 	('s', 'xt')
sb 	sh
sc 	ch
sd 	ds
se 	e
sh 	('s', 'xt')
si 	('s', 'xt')
sr 	rx
ss 	sy
sx 	('s', 'xt')
vc 	cl
vg 	gv
vi 	iv
.syntaxhl .gv { color: #aa0000 }
.syntaxhl .en { color: #800000; font-weight: bold }
.syntaxhl .co { color: #0000aa }
.syntaxhl .cl { color: #00aa00; text-decoration: underline }
.syntaxhl .ins { color: #00aa00 }
.syntaxhl .ch { color: #aa5500 }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #aa5500 }
.syntaxhl .er { color: #F00000; background-color: #F0A0A0 }
.syntaxhl .ps { color: #0000aa }
.syntaxhl .ty { color: #00aaaa }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #009999 }
.syntaxhl .pc { color: #00aaaa }
.syntaxhl .sh { color: #aa5500 }
.syntaxhl .pd { color: #00aaaa }
.syntaxhl .kw { color: #0000aa }
.syntaxhl .ta { color: #1e90ff; font-weight: bold }
.syntaxhl .hx { color: #009999 }
.syntaxhl .fu { color: #00aa00 }
.syntaxhl .de { color: #888888 }
.syntaxhl .sy { color: #0000aa }
.syntaxhl .an { color: #1e90ff }
.syntaxhl .fl { color: #009999 }
.syntaxhl .ds { color: #aa5500 }
.syntaxhl .c { color: #aaaaaa; font-style: italic }
.syntaxhl .e { color: #aa5500 }
.syntaxhl .i { color: #009999 }
.syntaxhl .of { color: #0000aa }
.syntaxhl .oc { color: #009999 }
.syntaxhl .s { color: #aa5500 }
.syntaxhl .r { color: #0000aa }
.syntaxhl .del { color: #aa0000 }
.syntaxhl .iv { color: #aa0000 }
.syntaxhl .v { color: #aa0000 }
