.syntaxhl .ch { color: #800080 }
.syntaxhl .co { color: #000080; font-weight: bold }
.syntaxhl .af { font-weight: bold }
.syntaxhl .dl { color: #0000FF }
.syntaxhl .ins { color: #000000; background-color: #ddffdd }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #0000FF }
.syntaxhl .er { color: #a61717; background-color: #e3d2d2 }
.syntaxhl .ps { color: #000080; font-weight: bold }
.syntaxhl .ty { color: #000080; font-weight: bold }
.syntaxhl .rx { color: #0000FF }
.syntaxhl .r { color: #000080; font-weight: bold }
.syntaxhl .kw { color: #000080; font-weight: bold }
.syntaxhl .ta { color: #000080; font-weight: bold }
.syntaxhl .hx { color: #0000FF }
.syntaxhl .sy { color: #0000FF }
.syntaxhl .an { color: #FF0000 }
.syntaxhl .fl { color: #0000FF }
.syntaxhl .ds { color: #0000FF }
.syntaxhl .c { color: #008800; font-style: italic }
.syntaxhl .e { color: #0000FF }
.syntaxhl .i { color: #0000FF }
.syntaxhl .of { font-weight: bold }
.syntaxhl .k { color: #0000FF }
.syntaxhl .oc { color: #0000FF }
.syntaxhl .s { color: #0000FF }
.syntaxhl .sh { color: #0000FF }
.syntaxhl .del { color: #000000; background-color: #ffdddd }
