.syntaxhl .gv { color: #d07000; font-weight: bold }
.syntaxhl .en { color: #800000; font-weight: bold }
.syntaxhl .co { color: #008000; font-weight: bold }
.syntaxhl .cl { color: #B00060; font-weight: bold }
.syntaxhl .dl { color: #D04020 }
.syntaxhl .ins { color: #00A000 }
.syntaxhl .ch { color: #0040D0 }
.syntaxhl .ex { color: #F00000; font-weight: bold }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { background-color: #fff0f0 }
.syntaxhl .er { color: #F00000; background-color: #F0A0A0 }
.syntaxhl .ps { color: #003080; font-weight: bold }
.syntaxhl .ty { color: #303090; font-weight: bold }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #000000; background-color: #fff0ff }
.syntaxhl .pc { color: #007020 }
.syntaxhl .sh { background-color: #fff0f0 }
.syntaxhl .pd { color: #007020 }
.syntaxhl .kw { color: #008000; font-weight: bold }
.syntaxhl .ta { color: #007000 }
.syntaxhl .hx { color: #005080; font-weight: bold }
.syntaxhl .fu { color: #0060B0; font-weight: bold }
.syntaxhl .de { color: #505050; font-weight: bold }
.syntaxhl .sy { color: #A06000 }
.syntaxhl .an { color: #0000C0 }
.syntaxhl .fl { color: #6000E0; font-weight: bold }
.syntaxhl .ds { color: #D04020 }
.syntaxhl .c { color: #808080 }
.syntaxhl .e { color: #606060; font-weight: bold; background-color: #fff0f0 }
.syntaxhl .i { color: #0000D0; font-weight: bold }
.syntaxhl .of { color: #000000; font-weight: bold }
.syntaxhl .k { color: #D04020 }
.syntaxhl .la { color: #907000; font-weight: bold }
.syntaxhl .oc { color: #4000E0; font-weight: bold }
.syntaxhl .s { background-color: #fff0f0 }
.syntaxhl .r { color: #008000; font-weight: bold }
.syntaxhl .del { color: #A00000 }
.syntaxhl .iv { color: #3030B0 }
.syntaxhl .v { color: #906030 }
.syntaxhl .op { color: #303030 }
