.syntaxhl .gv { color: #19177C }
.syntaxhl .en { color: #999999; font-weight: bold }
.syntaxhl .co { color: #008000; font-weight: bold }
.syntaxhl .cl { color: #0000FF; font-weight: bold }
.syntaxhl .dl { color: #BA2121; font-style: italic }
.syntaxhl .ins { color: #00A000 }
.syntaxhl .ch { color: #BA2121 }
.syntaxhl .ex { color: #D2413A; font-weight: bold }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #BA2121 }
.syntaxhl .er { border: 1px solid #FF0000 }
.syntaxhl .ps { color: #008000 }
.syntaxhl .ty { color: #B00040 }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #BB6688 }
.syntaxhl .pc { color: #008000 }
.syntaxhl .sh { color: #BA2121 }
.syntaxhl .pd { color: #008000 }
.syntaxhl .kw { color: #008000; font-weight: bold }
.syntaxhl .ta { color: #008000; font-weight: bold }
.syntaxhl .hx { color: #666666 }
.syntaxhl .fu { color: #0000FF }
.syntaxhl .de { color: #AA22FF }
.syntaxhl .sy { color: #19177C }
.syntaxhl .an { color: #7D9029 }
.syntaxhl .fl { color: #666666 }
.syntaxhl .ds { color: #BA2121; font-style: italic }
.syntaxhl .c { color: #408080; font-style: italic }
.syntaxhl .e { color: #BB6622; font-weight: bold }
.syntaxhl .i { color: #666666 }
.syntaxhl .of { color: #AA22FF; font-weight: bold }
.syntaxhl .k { color: #BA2121; font-style: italic }
.syntaxhl .la { color: #A0A000 }
.syntaxhl .oc { color: #666666 }
.syntaxhl .s { color: #BA2121 }
.syntaxhl .r { color: #008000; font-weight: bold }
.syntaxhl .del { color: #A00000 }
.syntaxhl .iv { color: #19177C }
.syntaxhl .v { color: #19177C }
.syntaxhl .op { color: #666666 }
