bp 	pc
c 	c
cm 	c
err 	er
gd 	del
gi 	ins
gs 	('af', 'aw')
il 	i
k 	kw
kc 	co
kd 	kw
kn 	kw
kp 	ps
kr 	r
kt 	ty
m 	i
mf 	fl
mh 	hx
mi 	i
mo 	oc
na 	an
nb 	pd
nc 	cl
nd 	de
ne 	ex
nf 	fu
ni 	en
nl 	la
no 	co
nt 	ta
nv 	v
o 	op
ow 	of
s 	('s', 'xt')
s1 	('s', 'xt')
s2 	('s', 'xt')
sb 	sh
sc 	ch
sd 	ds
se 	e
sh 	('s', 'xt')
si 	('s', 'xt')
sr 	rx
ss 	sy
sx 	('s', 'xt')
vc 	cl
vg 	gv
vi 	iv
.syntaxhl .gv { color: #bb60d5 }
.syntaxhl .en { color: #d55537; font-weight: bold }
.syntaxhl .co { color: #007020; font-weight: bold }
.syntaxhl .cl { color: #0e84b5; font-weight: bold }
.syntaxhl .ins { color: #00A000 }
.syntaxhl .ch { color: #4070a0 }
.syntaxhl .ex { color: #007020 }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #4070a0 }
.syntaxhl .er { border: 1px solid #FF0000 }
.syntaxhl .ps { color: #007020 }
.syntaxhl .ty { color: #902000 }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #235388 }
.syntaxhl .pc { color: #007020 }
.syntaxhl .sh { color: #4070a0 }
.syntaxhl .pd { color: #007020 }
.syntaxhl .kw { color: #007020; font-weight: bold }
.syntaxhl .ta { color: #062873; font-weight: bold }
.syntaxhl .hx { color: #40a070 }
.syntaxhl .fu { color: #06287e }
.syntaxhl .de { color: #555555; font-weight: bold }
.syntaxhl .sy { color: #517918 }
.syntaxhl .an { color: #4070a0 }
.syntaxhl .fl { color: #40a070 }
.syntaxhl .ds { color: #4070a0; font-style: italic }
.syntaxhl .c { color: #60a0b0; font-style: italic }
.syntaxhl .e { color: #4070a0; font-weight: bold }
.syntaxhl .i { color: #40a070 }
.syntaxhl .of { color: #007020; font-weight: bold }
.syntaxhl .la { color: #002070; font-weight: bold }
.syntaxhl .oc { color: #40a070 }
.syntaxhl .s { color: #4070a0 }
.syntaxhl .r { color: #007020; font-weight: bold }
.syntaxhl .del { color: #A00000 }
.syntaxhl .iv { color: #bb60d5 }
.syntaxhl .v { color: #bb60d5 }
.syntaxhl .op { color: #666666 }
