bp 	pc
c 	c
cm 	c
err 	er
gd 	del
gi 	ins
gs 	('af', 'aw')
il 	i
k 	kw
kc 	co
kd 	kw
kn 	kw
kp 	ps
kr 	r
kt 	ty
m 	i
mf 	fl
mh 	hx
mi 	i
mo 	oc
na 	an
nb 	pd
nc 	cl
nd 	de
ne 	ex
nf 	fu
ni 	en
nl 	la
no 	co
nt 	ta
nv 	v
o 	op
ow 	of
s 	('s', 'xt')
s1 	('s', 'xt')
s2 	('s', 'xt')
sb 	sh
sc 	ch
sd 	ds
se 	e
sh 	('s', 'xt')
si 	('s', 'xt')
sr 	rx
ss 	sy
sx 	('s', 'xt')
vc 	cl
vg 	gv
vi 	iv
.syntaxhl .gv { color: #003333 }
.syntaxhl .en { color: #999999; font-weight: bold }
.syntaxhl .co { color: #006699; font-weight: bold }
.syntaxhl .cl { color: #00AA88; font-weight: bold }
.syntaxhl .ins { background-color: #CCFFCC; border: 1px solid #00CC00 }
.syntaxhl .ch { color: #CC3300 }
.syntaxhl .ex { color: #CC0000; font-weight: bold }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #CC3300 }
.syntaxhl .er { color: #AA0000; background-color: #FFAAAA }
.syntaxhl .ps { color: #006699 }
.syntaxhl .ty { color: #007788; font-weight: bold }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #33AAAA }
.syntaxhl .pc { color: #336666 }
.syntaxhl .sh { color: #CC3300 }
.syntaxhl .pd { color: #336666 }
.syntaxhl .kw { color: #006699; font-weight: bold }
.syntaxhl .ta { color: #330099; font-weight: bold }
.syntaxhl .hx { color: #FF6600 }
.syntaxhl .fu { color: #CC00FF }
.syntaxhl .de { color: #9999FF }
.syntaxhl .sy { color: #FFCC33 }
.syntaxhl .an { color: #330099 }
.syntaxhl .fl { color: #FF6600 }
.syntaxhl .ds { color: #CC3300; font-style: italic }
.syntaxhl .c { color: #0099FF; font-style: italic }
.syntaxhl .e { color: #CC3300; font-weight: bold }
.syntaxhl .i { color: #FF6600 }
.syntaxhl .of { color: #000000; font-weight: bold }
.syntaxhl .la { color: #9999FF }
.syntaxhl .oc { color: #FF6600 }
.syntaxhl .s { color: #CC3300 }
.syntaxhl .r { color: #006699; font-weight: bold }
.syntaxhl .del { background-color: #FFCCCC; border: 1px solid #CC0000 }
.syntaxhl .iv { color: #003333 }
.syntaxhl .v { color: #003333 }
.syntaxhl .op { color: #555555 }
