bp 	pc
c 	c
cm 	c
err 	er
gd 	del
gi 	ins
gs 	('af', 'aw')
il 	i
k 	kw
kc 	co
kd 	kw
kn 	kw
kp 	ps
kr 	r
kt 	ty
m 	i
mf 	fl
mh 	hx
mi 	i
mo 	oc
na 	an
nb 	pd
nc 	cl
nd 	de
ne 	ex
nf 	fu
ni 	en
nl 	la
no 	co
nt 	ta
nv 	v
o 	op
ow 	of
s 	('s', 'xt')
s1 	('s', 'xt')
s2 	('s', 'xt')
sb 	sh
sc 	ch
sd 	ds
se 	e
sh 	('s', 'xt')
si 	('s', 'xt')
sr 	rx
ss 	sy
sx 	('s', 'xt')
vc 	cl
vg 	gv
vi 	iv
.syntaxhl .gv { color: #f08040 }
.syntaxhl .en { color: #800000 }
.syntaxhl .co { color: #208090; font-weight: bold }
.syntaxhl .cl { color: #e090e0; font-weight: bold }
.syntaxhl .ins { color: #00A000 }
.syntaxhl .ch { color: #8080F0 }
.syntaxhl .ex { color: #F00000; font-weight: bold }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { background-color: #e0e0ff }
.syntaxhl .er { color: #F00000; background-color: #F0A0A0 }
.syntaxhl .ps { color: #0080f0; font-weight: bold }
.syntaxhl .ty { color: #6060f0; font-weight: bold }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #000000; background-color: #e0e0ff }
.syntaxhl .pc { color: #007020 }
.syntaxhl .sh { background-color: #e0e0ff }
.syntaxhl .pd { color: #007020 }
.syntaxhl .kw { color: #208090; font-weight: bold }
.syntaxhl .ta { color: #007000 }
.syntaxhl .hx { color: #005080; font-weight: bold }
.syntaxhl .fu { color: #50e0d0; font-weight: bold }
.syntaxhl .de { color: #505050; font-weight: bold }
.syntaxhl .sy { color: #f0c080 }
.syntaxhl .an { color: #000070 }
.syntaxhl .fl { color: #6000E0; font-weight: bold }
.syntaxhl .ds { color: #D04020 }
.syntaxhl .c { color: #606060; font-style: italic }
.syntaxhl .e { color: #606060; font-weight: bold; background-color: #e0e0ff }
.syntaxhl .i { color: #6060f0; font-weight: bold }
.syntaxhl .of { color: #000000; font-weight: bold }
.syntaxhl .la { color: #907000; font-weight: bold }
.syntaxhl .oc { color: #4000E0; font-weight: bold }
.syntaxhl .s { background-color: #e0e0ff }
.syntaxhl .r { color: #208090; font-weight: bold }
.syntaxhl .del { color: #A00000 }
.syntaxhl .iv { color: #a0a0f0 }
.syntaxhl .v { color: #003060 }
.syntaxhl .op { color: #303030 }
