.syntaxhl .gv { color: #40ffff }
.syntaxhl .en { color: #d0d0d0 }
.syntaxhl .co { color: #6ab825; font-weight: bold }
.syntaxhl .cl { color: #447fcf; text-decoration: underline }
.syntaxhl .dl { color: #ed9d13 }
.syntaxhl .ins { color: #589819 }
.syntaxhl .ch { color: #ed9d13 }
.syntaxhl .ex { color: #bbbbbb }
.syntaxhl .aw { color: #d0d0d0; font-weight: bold }
.syntaxhl .xt { color: #ed9d13 }
.syntaxhl .er { color: #a61717; background-color: #e3d2d2 }
.syntaxhl .ps { color: #6ab825 }
.syntaxhl .ty { color: #6ab825; font-weight: bold }
.syntaxhl .af { color: #d0d0d0; font-weight: bold }
.syntaxhl .rx { color: #ed9d13 }
.syntaxhl .pc { color: #24909d }
.syntaxhl .sh { color: #ed9d13 }
.syntaxhl .pd { color: #24909d }
.syntaxhl .kw { color: #6ab825; font-weight: bold }
.syntaxhl .ta { color: #6ab825; font-weight: bold }
.syntaxhl .hx { color: #3677a9 }
.syntaxhl .fu { color: #447fcf }
.syntaxhl .de { color: #ffa500 }
.syntaxhl .sy { color: #ed9d13 }
.syntaxhl .an { color: #bbbbbb }
.syntaxhl .fl { color: #3677a9 }
.syntaxhl .ds { color: #ed9d13 }
.syntaxhl .c { color: #999999; font-style: italic }
.syntaxhl .e { color: #ed9d13 }
.syntaxhl .i { color: #3677a9 }
.syntaxhl .of { color: #6ab825; font-weight: bold }
.syntaxhl .k { color: #ed9d13 }
.syntaxhl .la { color: #d0d0d0 }
.syntaxhl .oc { color: #3677a9 }
.syntaxhl .s { color: #ed9d13 }
.syntaxhl .r { color: #6ab825; font-weight: bold }
.syntaxhl .del { color: #d22323 }
.syntaxhl .iv { color: #40ffff }
.syntaxhl .v { color: #40ffff }
.syntaxhl .op { color: #d0d0d0 }
