.syntaxhl .gv { color: #dd7700 }
.syntaxhl .ch { color: #dd2200; background-color: #fff0f0 }
.syntaxhl .co { color: #008800; font-weight: bold }
.syntaxhl .cl { color: #bb0066; font-weight: bold }
.syntaxhl .dl { color: #dd2200; background-color: #fff0f0 }
.syntaxhl .ins { color: #000000; background-color: #ddffdd }
.syntaxhl .ex { color: #bb0066; font-weight: bold }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #dd2200; background-color: #fff0f0 }
.syntaxhl .er { color: #a61717; background-color: #e3d2d2 }
.syntaxhl .ps { color: #008800 }
.syntaxhl .ty { color: #888888; font-weight: bold }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #008800; background-color: #fff0ff }
.syntaxhl .pc { color: #003388 }
.syntaxhl .sh { color: #dd2200; background-color: #fff0f0 }
.syntaxhl .pd { color: #003388 }
.syntaxhl .kw { color: #008800; font-weight: bold }
.syntaxhl .ta { color: #bb0066; font-weight: bold }
.syntaxhl .hx { color: #0000DD; font-weight: bold }
.syntaxhl .fu { color: #0066bb; font-weight: bold }
.syntaxhl .de { color: #555555 }
.syntaxhl .sy { color: #aa6600; background-color: #fff0f0 }
.syntaxhl .an { color: #336699 }
.syntaxhl .fl { color: #0000DD; font-weight: bold }
.syntaxhl .ds { color: #dd2200; background-color: #fff0f0 }
.syntaxhl .c { color: #888888 }
.syntaxhl .e { color: #0044dd; background-color: #fff0f0 }
.syntaxhl .i { color: #0000DD; font-weight: bold }
.syntaxhl .of { color: #008800 }
.syntaxhl .k { color: #dd2200; background-color: #fff0f0 }
.syntaxhl .la { color: #336699; font-style: italic }
.syntaxhl .oc { color: #0000DD; font-weight: bold }
.syntaxhl .s { color: #dd2200; background-color: #fff0f0 }
.syntaxhl .r { color: #008800; font-weight: bold }
.syntaxhl .del { color: #000000; background-color: #ffdddd }
.syntaxhl .iv { color: #3333bb }
.syntaxhl .v { color: #336699 }
