.syntaxhl .gv { color: #00688B }
.syntaxhl .ch { color: #CD5555 }
.syntaxhl .co { color: #8B008B; font-weight: bold }
.syntaxhl .cl { color: #008b45; font-weight: bold }
.syntaxhl .dl { color: #CD5555 }
.syntaxhl .ins { color: #00aa00 }
.syntaxhl .ex { color: #008b45; font-weight: bold }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #CD5555 }
.syntaxhl .er { color: #a61717; background-color: #e3d2d2 }
.syntaxhl .ps { color: #8B008B; font-weight: bold }
.syntaxhl .ty { color: #a7a7a7; font-weight: bold }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #1c7e71 }
.syntaxhl .pc { color: #658b00 }
.syntaxhl .sh { color: #CD5555 }
.syntaxhl .pd { color: #658b00 }
.syntaxhl .kw { color: #8B008B; font-weight: bold }
.syntaxhl .ta { color: #8B008B; font-weight: bold }
.syntaxhl .hx { color: #B452CD }
.syntaxhl .fu { color: #008b45 }
.syntaxhl .de { color: #707a7c }
.syntaxhl .sy { color: #CD5555 }
.syntaxhl .an { color: #658b00 }
.syntaxhl .fl { color: #B452CD }
.syntaxhl .ds { color: #CD5555 }
.syntaxhl .c { color: #228B22 }
.syntaxhl .e { color: #CD5555 }
.syntaxhl .i { color: #B452CD }
.syntaxhl .of { color: #8B008B }
.syntaxhl .k { color: #CD5555 }
.syntaxhl .oc { color: #B452CD }
.syntaxhl .s { color: #CD5555 }
.syntaxhl .r { color: #8B008B; font-weight: bold }
.syntaxhl .del { color: #aa0000 }
.syntaxhl .iv { color: #00688B }
.syntaxhl .v { color: #00688B }
