bp 	pc
c 	c
cm 	c
err 	er
gd 	del
gi 	ins
gs 	('af', 'aw')
il 	i
k 	kw
kc 	co
kd 	kw
kn 	kw
kp 	ps
kr 	r
kt 	ty
m 	i
mf 	fl
mh 	hx
mi 	i
mo 	oc
na 	an
nb 	pd
nc 	cl
nd 	de
ne 	ex
nf 	fu
ni 	en
nl 	la
no 	co
nt 	ta
nv 	v
o 	op
ow 	of
s 	('s', 'xt')
s1 	('s', 'xt')
s2 	('s', 'xt')
sb 	sh
sc 	ch
sd 	ds
se 	e
sh 	('s', 'xt')
si 	('s', 'xt')
sr 	rx
ss 	sy
sx 	('s', 'xt')
vc 	cl
vg 	gv
vi 	iv
.syntaxhl .gv { color: #000000 }
.syntaxhl .en { color: #ce5c00 }
.syntaxhl .co { color: #204a87; font-weight: bold }
.syntaxhl .cl { color: #000000 }
.syntaxhl .ins { color: #00A000 }
.syntaxhl .ch { color: #4e9a06 }
.syntaxhl .ex { color: #cc0000; font-weight: bold }
.syntaxhl .aw { color: #000000; font-weight: bold }
.syntaxhl .xt { color: #4e9a06 }
.syntaxhl .er { color: #a40000; border: 1px solid #ef2929 }
.syntaxhl .ps { color: #204a87; font-weight: bold }
.syntaxhl .ty { color: #204a87; font-weight: bold }
.syntaxhl .af { color: #000000; font-weight: bold }
.syntaxhl .rx { color: #4e9a06 }
.syntaxhl .pc { color: #3465a4 }
.syntaxhl .sh { color: #4e9a06 }
.syntaxhl .pd { color: #204a87 }
.syntaxhl .kw { color: #204a87; font-weight: bold }
.syntaxhl .ta { color: #204a87; font-weight: bold }
.syntaxhl .hx { color: #0000cf; font-weight: bold }
.syntaxhl .fu { color: #000000 }
.syntaxhl .de { color: #5c35cc; font-weight: bold }
.syntaxhl .sy { color: #4e9a06 }
.syntaxhl .an { color: #c4a000 }
.syntaxhl .fl { color: #0000cf; font-weight: bold }
.syntaxhl .ds { color: #8f5902; font-style: italic }
.syntaxhl .c { color: #8f5902; font-style: italic }
.syntaxhl .e { color: #4e9a06 }
.syntaxhl .i { color: #0000cf; font-weight: bold }
.syntaxhl .of { color: #204a87; font-weight: bold }
.syntaxhl .la { color: #f57900 }
.syntaxhl .oc { color: #0000cf; font-weight: bold }
.syntaxhl .s { color: #4e9a06 }
.syntaxhl .r { color: #204a87; font-weight: bold }
.syntaxhl .del { color: #a40000 }
.syntaxhl .iv { color: #000000 }
.syntaxhl .v { color: #000000 }
.syntaxhl .op { color: #ce5c00; font-weight: bold }
