bp 	pc
c 	c
cm 	c
err 	er
gd 	del
gi 	ins
gs 	('af', 'aw')
il 	i
k 	kw
kc 	co
kd 	kw
kn 	kw
kp 	ps
kr 	r
kt 	ty
m 	i
mf 	fl
mh 	hx
mi 	i
mo 	oc
na 	an
nb 	pd
nc 	cl
ne 	ex
nf 	fu
ni 	en
no 	co
nt 	ta
nv 	v
o 	op
ow 	of
s 	('s', 'xt')
s1 	('s', 'xt')
s2 	('s', 'xt')
sb 	sh
sc 	ch
sd 	ds
se 	e
sh 	('s', 'xt')
si 	('s', 'xt')
sr 	rx
ss 	sy
sx 	('s', 'xt')
vc 	cl
vg 	gv
vi 	iv
.syntaxhl .gv { color: #008080 }
.syntaxhl .en { color: #800080 }
.syntaxhl .co { font-weight: bold }
.syntaxhl .cl { color: #445588; font-weight: bold }
.syntaxhl .ins { color: #000000; background-color: #ddffdd }
.syntaxhl .ch { color: #bb8844 }
.syntaxhl .ex { color: #990000; font-weight: bold }
.syntaxhl .aw { font-weight: bold }
.syntaxhl .xt { color: #bb8844 }
.syntaxhl .er { color: #a61717; background-color: #e3d2d2 }
.syntaxhl .ps { font-weight: bold }
.syntaxhl .ty { color: #445588; font-weight: bold }
.syntaxhl .af { font-weight: bold }
.syntaxhl .rx { color: #808000 }
.syntaxhl .pc { color: #999999 }
.syntaxhl .sh { color: #bb8844 }
.syntaxhl .pd { color: #999999 }
.syntaxhl .kw { font-weight: bold }
.syntaxhl .ta { color: #000080 }
.syntaxhl .hx { color: #009999 }
.syntaxhl .fu { color: #990000; font-weight: bold }
.syntaxhl .sy { color: #bb8844 }
.syntaxhl .an { color: #008080 }
.syntaxhl .fl { color: #009999 }
.syntaxhl .ds { color: #bb8844 }
.syntaxhl .c { color: #999988; font-style: italic }
.syntaxhl .e { color: #bb8844 }
.syntaxhl .i { color: #009999 }
.syntaxhl .of { font-weight: bold }
.syntaxhl .oc { color: #009999 }
.syntaxhl .s { color: #bb8844 }
.syntaxhl .r { font-weight: bold }
.syntaxhl .del { color: #000000; background-color: #ffdddd }
.syntaxhl .iv { color: #008080 }
.syntaxhl .v { color: #008080 }
.syntaxhl .op { font-weight: bold }
